.filter-table-view .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}



.filter-table-view {
    -fx-background-color: transparent;
    -fx-selection-bar-non-focused: transparent;
    -fx-highlight-fill: transparent;

}

.filter-table-view .text-field{
    -fx-border-color: transparent;
}

.filter-table-view .table-row-cell:odd {
    -fx-background-color: transparent;
}

.filter-table-view .table-row-cell:even {
    -fx-background-color: transparent;
}




